<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.suri.test.Suri"/>
      <class name="com.suri.test.AssertExample"/>
      <class name="com.suri.test.TestClass"/>
      <class name="com.suri.test.NewTest"/>
      <class name="com.suri.test.CRMPro"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
